<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Créer un exercice</title>
    <link rel="stylesheet" href="/CSS/classification_exercises.css"> </head>
<body>
<div class="container">
    <a href="/exercises_creation" class="arrow" title="Retour"></a>

    <h1>Créer un exercice</h1>
    <label class="category-label">Veuillez sélectionner un type d'exercice :</label>

    <div class="category-buttons">
        <a href="/create_exercises/forms/classification_form1" class="cat-btn" id="link-classification-form1">Exercice 1 :<br> Pareils ou différents ?</a>
        <a href="/create_exercises/forms/classification_form2" class="cat-btn" id="link-classification-form2">Exercice 2 :<br> Quel est le point commun</a>
        <a href="/create_exercises/forms/classification_form3" class="cat-btn" id="link-classification-form3">Exercice 3 :<br> La bonne image</a>
        <a href="/create_exercises/forms/classification_form4" class="cat-btn" id="link-classification-form4">Exercice 4 :<br> Sur la pile</a>
    </div>
</div>
</body>
</html>