body {
    background-color: #fdf6c3;
    font-family: 'Comic Sans MS', 'Chalkboard SE', cursive;
    text-align: center;
    padding: 20px;
}

h1 { font-size: 3rem; margin-bottom: 30px; color: #FFC367; }

h2 { color: #FFC367; text-decoration: underline;text-underline-offset: 8px; text-decoration-thickness: 2px;font-weight: normal;font-size: 2.5rem; text-align: left;}

img { max-width: 10%; height: auto;}

#div-header { display: flex; align-items: center; justify-content: centre; gap: 20px; margin-top: 20px; margin-bottom: 40px;}

.arrow {width: 60px; height: 60px; background: #FFC367; border-color: black; clip-path: polygon(0% 50%, 30% 0%, 30% 30%, 100% 30%, 100% 70%, 30% 70%, 30% 100%); cursor: pointer; margin: 0; }




