body {
    background-color: #fdf6c3;
    font-family: 'Comic Sans MS', 'Chalkboard SE', cursive;
    text-align: center;
    padding: 20px;
}

h1 { font-size: 3rem; margin-bottom: 30px; }

.main-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
}

.student-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    background: transparent;
}

.student-slot {
    background: white;
    border: 2px solid #333;
    width: 100px;
    padding: 5px;
}

.placeholder-img {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    box-sizing: border-box;
}

.placeholder-img img {
    width: 90%;
    height: 90%;
    object-fit: contain;
}

/* Sidebar & Boutons */
.sidebar { width: 300px; display: flex; flex-direction: column; gap: 40px; }

.prof-space input {
    display: block;
    width: 100%;
    margin: 5px 0;
    padding: 10px;
    border: 2px solid #333;
}

.cat-btn {
    display: block;
    margin: 10px 0;
    padding: 15px;
    border: 2px solid #333;
    border-radius: 10px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 1.5rem;
    box-shadow: 2px 2px 0px #000;
}

/* Specific colors */
.cat-orange { background-color: #ffb347; }
.cat-coral  { background-color: #ff866d; }
.cat-green  { background-color: #90ee90; }
.cat-pink   { background-color: #f4b6d9; }

.cat-btn:active { transform: translate(2px, 2px); box-shadow: none; }


/* Responsive */
@media (max-width: 1024px) {
    .main-container {
        flex-direction: column;
        align-items: center;
    }

    .sidebar {
        width: 100%;
        margin-top: 40px;
    }

    .student-grid {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 768px) {
    .student-grid {
        grid-template-columns: repeat(3, 1fr);
        gap: 15px;
    }

    .student-slot {
        width: 120px;
        padding: 15px;
    }

    h1 { font-size: 2rem; }

    .cat-btn {
        font-size: 1.2rem;
        padding: 20px;
    }
}